<button class="btn-back" (click)="goBack()">
  <i class="bi bi-arrow-left"></i>
  <span>Back</span>
</button>

<div class="handover-container container-fluid px-4 py-3">
  <!-- Title + Buttons Row -->
  <div class="d-flex align-items-center gap-2 mb-3">
    <!-- Title (same style as Application Selection) -->

    <div class="me-2 card" style="background-color: rgb(255, 255, 255)">
      <h5 class="app-title fw-bold mb-2">Handover Selection</h5>
    </div>

    <!-- Buttons (same style – nav-btn) -->
    <button
      class="btn nav-btn"
      routerLink="normal-handover"
      routerLinkActive="active"
    >
      Normal
    </button>

    <button
      class="btn nav-btn"
      routerLink="partial-handover"
      routerLinkActive="active"
    >
      Partial
    </button>

    <button
      class="btn nav-btn"
      routerLink="full-handover"
      routerLinkActive="active"
    >
      Full
    </button>
  </div>

  <!-- Child card - same layout -->
  <div class="card shadow-sm p-0 w-100">
    <div class="card-body p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
